*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

}
:root {
    --font-color: #fafafa;
}
body {
    color: var(--font-color)
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#6366f1, #2563eb, #1d4ed8, #172554, #4338ca, #1e1b4b);  
    display: flex;
    gap: 20px;
}
.sidebar {
    min-height: 100vh;
    width: 20%;
    background-color: #1e3a8a;
    color: #d1d5db;
    opacity: .9;
    align-self: flex-start;
}
.sidebar h2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1.5rem;
}
.sidebar img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.sidebar h4 {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-left: 0;
    font-size: 1rem;
    cursor: pointer;
}
.sidebar h4:hover {
    background-color: #182d69;
    opacity: .7;
}
.sidebar h4 img {
    width: 30px;
    height: 30px;
    margin-right:20px;

}
.sidebar .projects {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.sidebar .projects h4 {
    font-size: 1.25rem;
    margin-top: 0;
}
.sidebar .projects h4 img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
}
.tasks-container {
    background-color: #27272a;
    width: 77.5%;
    /* min-height: 100vh; */
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
}
.tasks-container button  {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #27272a;
    border: none;

}
.tasks-container button img {
    width: 60px;
    height: 60px;
}
.tasks-container .tasks-div {
    margin-top: 0;
    width: 100%;
    min-height: 90%;
    border: 1px solid var(--font-color);

}
.cont-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 97%;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 4px;
    /* border: 1px solid var(--font-color); */
    background-color: #2f2f33;
}
/* ul li {
    list-style: none;
    padding: 12px 8px 12px 80px;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}
ul li::before {
    content: '';
    background-image: url(./Assets/unchecked.png);
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 30px;
    top: 12px;
    border-radius: 50px;
}
ul li.checked {
    text-decoration: line-through;
    color: #4ade80;
}
ul li.checked::before {
    background-image: url(./Assets/checked.png);
}

ul li::after {
    content: '';
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 26px;
    position: absolute;
    border-radius: 50px;
    background-image: url(./Assets/cancel.png);
    right: 30px;
    top: 12px;
} */